body {
    background-color: #fff;
    font-family: poppins;
    letter-spacing: .025em;
    font-size: 1rem;
    font-weight: 400;
}

* {
    box-sizing: border-box
}

.mySlides {
    display: none
}

.slideshow-container {
    max-width: 1250px;
    position: relative;
    margin: auto
}

.next,
.prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    transition: .6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px
}

.next:hover,
.prev:hover {
    background-color: rgba(0, 0, 0, .8)
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

img {
    vertical-align: middle
}

.header {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    align-items: center;
    justify-content: space-between
}

.header-right {
    display: flex;
    flex-direction: row;
    align-items: center
}

.TeslaLogo img {
    display: inline-block;
    vertical-align: top;
    margin-right: .6rem;
    height: 1.5rem
}

.tesla-name {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: .7;
    display: inline-block;
}

.social-icons {
    display: none
}

.social-icons a {
    color: #000;
    text-decoration: none;
    margin: .7rem;
    margin-left: 10px
}

.menu>img {
    width: 20px;
    height: 20px
}

.menu {
    margin-left: 2rem
}

.center {
    flex-direction: row!important
}

#first-center-image {
    margin-right: 3rem
}


/* For iPad 9.7 */

@media only screen and (min-width:768px) and (max-device-width:1024px) {
    .social-icons {
        display: inherit
    }
    #footer {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        display: inline-block;
    }
    .center {
        flex-direction: row!important;
    }
    #first-center-image {
        margin-right: 3rem;
    }
    .inside-image-wrapper>img {
        padding: 0 5px;
    }
    .inside2-image-wrapper>img {
        padding: 0 5px;
    }
    .news-image-wrapper>img {
        padding: 0 5px;
    }
}

@media (min-width:992px) {
    .social-icons {
        display: inherit;
    }
    .nouveautés-img {
        flex-direction: row!important;
        text-align: center;
    }
    .news {
        flex-direction: row!important;
    }
    #footer {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        display: inline-block;
    }
}

@media (min-width:1200px) {
    #footer {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr!important;
        grid-template-rows: 1fr!important;
        display: inline-block;
    }
    .Nouveautés-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }
}

.container {
    background-color: grey;
    height: 500px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 100px;
    text-align: center;
    padding-top: 50px;
}

.logoTesla2-name {
    font-weight: 600;
    font-size: 1.5rem;
    line-height: .7;
    margin-top: 5px;
    display: inline-block;
}

.spacer2 {
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 35px;
    height: 1px;
    background-color: rgb(95, 95, 95);
}

#footer {
    background-color: #fff;
    height: 200px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border: rgb(95, 95, 95);
    border-width: 1px;
    line-height: 1.71;
    padding: 5rem 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#footer>div {
    margin-top: 4rem;
}

.center {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
}

.center p {
    text-align: justify;
}

#BlackModelS {
    height: auto;
    max-width: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nouveautés-img {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin: 0 25px;
}


/* For big tablet */

@media (max-width:1200px) {
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .nouveautés-img {
        text-align: center;
    }
    .news {
        text-align: center;
    }
    .Nouveautés-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }
}

.center-image-wrapper {
    max-width: 400px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.text {
    font-weight: 600;
    font-size: 27px;
    line-height: 1.166;
    color: #000;
    letter-spacing: 0;
    margin-left: 25px;
}

#text {
    font-size: 27px;
    margin-left: auto;
    margin-right: auto;
}

.container-middle-bottom {
    text-align: center;
}